#container {
  width: 600px;
  margin: 20px auto;
}

h1 {
   display: inline-block; 
   background-color: navy;
   color: rgba(255, 255, 255, 0.918);
}

.accent {
  font-weight: bolder;
  color: red;
}