#box1 {
  background: #ffd800;
  margin: 10px;
  float: left;
}

#box2 {
  background: #00f2f0;
  margin: 10px;
  float: left;
}

#box3 {
  background: rgba(0, 0, 153, 0.226);
}

#box4{
  background: #a8749f;
  clear: left;
}