.container {
  width: 450px;
  padding: 20px;
  border: 1px solid grey;
}

.accent {
  color: #ad3000;
  font-weight: bolder;
  font-size: large;
}
ul {
  /* 순서 있는 목록을 없앰. */
  list-style-type: none;
}

li {
  /* 줄 간 간격 조정 */
  line-height: 2;
}